/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaDoSistemaSwing/build/
/IdiomaDoSistemaSwing/dist/
/ResolucaoDeTelaSwing/nbproject/private/
/ResolucaoDeTelaSwing/build/